@import url(common.css);

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    border-radius: 15px;
    /* background-color: var(--accent-color); */
    /* background-color: #171717; */
}


#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: var(--accent-color);
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}